body{
    background-color: yellow;
}

h1{
    background-color: white;
    font-size: 40px;
}

#show_sketch{
    float:right;
    height: 45px;
}

#score {
    float:left;
    font-size: 25px;
    font-size: bolder;
}

#timer {
    float:right;
    font-size: 25px;
    font-size: bolder;
}

#sketch_to_draw {
    font-size: 30px;
    color:blue;
    font-weight: bold;
}

canvas {
    border: 5px rgb(255, 255, 255) solid ;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 38px  rgb(255, 255, 255);
}

